 body {
 	margin: 0;
 }

 #sister-sites a small {
 	display: block;
 	color:#777777;
 }

#sister-sites li {
	display: inline-block;
	margin-right: 1px;
	padding: 4px 5px 0 5px;
	border: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	word-spacing: normal;

}

#sister-sites ul {
	padding-left: 0;
	margin: 0 auto; 
	width: 1050px; 
}

#sister-sites a{
	text-decoration: none;
	color: #0945ff;


}

#sister-sites {
	background-color: #dddddd;
	padding-top: 5px;
	border-bottom: 1px solid #aaaaaa;
	word-spacing: -4px;
}

#active-site a {
	color: #777777;
}

li#active-site {
	background-color: #ffffff;
	padding: 4px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	position: relative;
	top: 2px;
}

#sister-sites li:hover:not(#active-site){
	background-color: #ffffff;
	border: 1px solid #bde2f1;
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small {
	color:  #FF432C;

}

main {
	background-color: #ffffff;
	width: 1050px;
	margin: 0 auto;
	font-family: sans-serif;
}

.product {
	background-color: #eeeeee;
	width: 19% ;
	height: 210px;
	margin-right: 10px;
	float: left;
	position: relative;
	border: 1px solid #999999;
	box-sizing: border-box;
}

.product h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product p {
	font-weight: bold;
	text-align: right;
}

.product img {
	max-width: 100%;
}

.producl:last-child {
	margin-right: 0; 
}

/*#deals {
	background-color: red;
}*/

.product div {
	padding: 10px;
}

/*.wedge{
	clear: left;
	float:left;
	border-style: solid;
	border-width: 0 6px 6px 0;
	border-color: transparent #9f2023 transparent transparent; 
}*/

 .discount {
 	background-color: #e34647;
 	padding: 4px 8px;
 	color: white;
 	position: absolute;
 	top: 5px;
 	left: -5px;
 }

section {
	margin-bottom: 50px;
}

section:after {
	content: '';
	display: block;
	clear: both;
}

body > footer {
	background-color: #333333;
	clear: both;
	color: #aaaaaa;
	padding: 20px 0;
	font-family: sans-serif;

}

#links {
	width: 65%;
	float: left;
	padding-left: 10px;
}	

#functions {
	width: 32%;
	float: right;
	height: 174px;
	padding: 16px 10px;
	text-align: center;
}	

#links,
#functions {
	border: 1px solid #777777;
	border-radius: 3px;
	box-sizing: border-box;
} 

#footer-container {
	width: 1050px;
	margin: 0 auto;
}

body > footer:after {
	content: '';
	display: block;
	clear: both;
	height: 20px;
}	

body > footer ul {
	width: 33.33%;
	float: left;
	padding: 0;
	list-style: none;
}

#links a {
	color: #aaaaaa;
	text-decoration: none;
	line-height: 28px;
}

#links a:hover {
	color: #888888;
	text-decoration: underline;
}	

#functions a {
	color: #aaaaaa;
	text-decoration: none;
	line-height: 28px;
}


#functions a:hover{
	text-decoration: underline;
}


#functions hr {
	height: 1px;
	border: none;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,515151+50,333333+100 */
background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(81,81,81,1) 50%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(81,81,81,1) 50%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(81,81,81,1) 50%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
}


#functions hr ~ a {
	padding: 6px 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	border: 1px solid #111111;
}


#functions hr + a {
	box-shadow: inset 0 0 4px 2px rgba(0,0,0,.5);
	border-top-left-radius: 3px; 
	border-bottom-left-radius: 3px;
	border-right: none;  

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232323+10,4f4f4f+92 */
background: rgb(35,35,35); /* Old browsers */
background: -moz-linear-gradient(top, rgba(35,35,35,1) 10%, rgba(79,79,79,1) 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(35,35,35,1) 10%,rgba(79,79,79,1) 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(35,35,35,1) 10%,rgba(79,79,79,1) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}


#functions hr + a + a {
	border-top-right-radius: 3px; 
	border-bottom-right-radius: 3px; 
	border-left: none;  

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4f4f+14,4f4f4f+14,383838+88 */
background: rgb(79,79,79); /* Old browsers */
background: -moz-linear-gradient(top, rgba(79,79,79,1) 14%, rgba(79,79,79,1) 14%, rgba(56,56,56,1) 88%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(79,79,79,1) 14%,rgba(79,79,79,1) 14%,rgba(56,56,56,1) 88%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(79,79,79,1) 14%,rgba(79,79,79,1) 14%,rgba(56,56,56,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
}

#categories {
	background-color: #ffffff;
	width: 1050px;
	margin: 0 auto;
}



#categories_nav a {
	text-decoration: none;
	color: #ffffff;
	font-size: x-large;
}


#categories_nav li {
	display: inline-block;
	width: 22%;
}

#cat {
	background-color: #f19608;
	
}

#jobs {
	background-color: #f06534;
}

#motors {
	background-color: #738297;
}

#property {
	background-color: #72ae2d;
}

#subcat {
	width: 65%;
	float: left;
	padding-left: 10px;
	
}







